@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$custom-colors: (
  'dust-grey': #dad7cd,
  'dry-sage': #a3b18a,
  'fern': #588157,
  'hunter-green': #3a5a40,
  'pine-teal': #344e41,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// $input-border-radius: 100px;

/* ocultar botón de clear del select */
.rbt-close-content {
  display: none;
}

.rbt-aux .rbt-close {
  margin-top: 0 !important;
}

/* reducir weights del texto de las tablas */
.table th {
  font-weight: 600 !important;
}

.table td {
  font-weight: 300 !important;
}

.iti {
  width: 100%;
}

/* eliminar tick de validación */
.was-validated .form-control:valid,
.was-validated .form-select:valid {
  background-image: none !important;
  padding-right: $input-padding-x !important;
}

/* alertas */
$alert-padding-y: 0.75rem;
$alert-padding-x: 3rem;
$alert-margin-bottom: 2rem;

@import 'bootstrap/scss/bootstrap';

/* iconos en alertas */
// bootstrap check-circle-fill
.alert-success {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%230f5132' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: 1rem center !important;
  background-size: 1rem !important;
}

// eliminar borde de 1px del offcanvas. con border aseguramos
// que esté donde esté (start, end, arriba o abajo) ningún lado
// tendrá borde
.offcanvas {
  border: none !important;
}

// bootstrap exclamation-triangle-fill
.alert-danger {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23842029' d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: 1rem center !important;
  background-size: 1rem !important;
}

/* forzar borde rojo en .is-invalid aunque sea natively :valid en .was-validated */
.was-validated .form-control.is-invalid,
.was-validated .form-select.is-invalid {
  border-color: $danger !important;
}

.was-validated .form-control.is-invalid:focus,
.was-validated .form-select.is-invalid:focus {
  border-color: $danger !important;
  box-shadow: 0 0 0 0.25rem rgba($danger, 0.25) !important;
}

.modal-open {
  padding: 0 !important;
  overflow-y: auto;
}
